/* global style */
html {
    scroll-behavior: smooth;
}

main {
    display: grid;
    margin: 0;
}

header, 
footer {
    margin: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: $color-bg;
}

/* form */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: $color-white;
}

label {
    display: block;
    margin-top: 10px;
}

select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}