/* global style */
html {
    scroll-behavior: smooth;
}

main {
    display: grid;
    margin: 0;
}

header, 
footer {
    padding: 16px;
    overflow-x: hidden;

    @include responsive(tablet) { padding: 36px 4em; }

    @include responsive(desktop) { padding: 40px 8em; }
}

header {
    height: 70dvh;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: $color-bg;
}

footer {
    display: flex;
	justify-content: center;
    background-color: $color-primary;
}


/* form */
select, input, button, fieldset{
    @include common-box;
    box-sizing: border-box;
    font-family: $font-secondary;
    width: 100%;
}