/* grid */
.grid {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
    max-width: 100%;
    display: grid;

    @include responsive(tablet) {
        padding: 0 4rem;
        justify-content: center;
        grid-column-gap: 2rem;
    }
    
    @include responsive(desktop) {
        padding: 0 8rem;
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    }
}

/* grid desktop */
.grid-content {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    margin-bottom: 5rem;
}


/* placement grid */
.grid > * {
    grid-column: 1/-1;
}

@for $i from 1 through 5 {
    .grid-start#{$i} { grid-column-start: $i; }
    .grid-end#{$i} { grid-column-end: $i; }
}


/* flexbox */
.grid-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
}

.grid-flex-legende {
    display: flex;
    flex-wrap: nowrap;
    gap: 0rem;
}