/* grid */
.grid {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    max-width: 100%;
    display: block;

    @include responsive(tablet) {
        display: grid;
        padding: 0 108px;
        justify-content: center;
        grid-column-gap: 2em;
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    }
    
    @include responsive(desktop) {
        display: grid;
        padding: 0 160px;
    }
}

.grid-content {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5em;
    margin-bottom: 5em;
    display: grid;
}


/* placement grid */
.grid > * {
    grid-column: 1/-1;
}

.grid-start1 {
    grid-column-start: 1;
}  
.grid-start2 {
    grid-column-start: 2;
}
.grid-start3 {
    grid-column-start: 3;
}

.grid-start5 {
    grid-column-start: 5;
}
.grid-start4 {
    grid-column-start: 4;
}

.grid-end4 {
    grid-column-end: 4;
}
.grid-end5 {
    grid-column-end: 5;
}
.grid-end3 {
    grid-column-end: 3;
}
.grid-end6 {
    grid-column-end: 6;
}


/* flexbox */
.grid-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1em;
}