/* typographies */
h1, h2, h3, h4, h5, h6, p {
    color: $color-primary;
    margin: 0;
}

.title-big, 
.title-medium, 
.title-small,
.title-section {
    font-family: $font-primary;
    line-height: 1.2;
}

.title-big {
    font-size: 38px;
    margin-bottom: 1em;

    @include responsive(tablet) {
        font-size: 57px;
    }    

    @include responsive(desktop) {
        font-size: 63px;
    }
}

.title-medium {
    font-size: 28px;
    margin-bottom: 1em;

    @include responsive(tablet) {
        font-size: 43px;
    }    

    @include responsive(desktop) {
        font-size: 47px;
    }
}

.title-small {
    font-size: 21px;
    margin-bottom: 3em;

    @include responsive(tablet) {
        font-size: 32px;
    }    

    @include responsive(desktop) {
        font-size: 36px;
    }
}

.title-section {
    font-size: 21px;
    margin-bottom: 1em;

    @include responsive(tablet) {
        font-size: 32px;
    }    

    @include responsive(desktop) {
        font-size: 36px;
    }
}

.paragraph-default {
    font-family: $font-secondary;
    font-size: 16px;
    color: $color-black;
    line-height: 1.6;
    margin-bottom: 1em;
    max-width: 85ch;
    color: $color-black;

    @include responsive(tablet) {
        font-size: 18px;
    }
    @include responsive(desktop) {
        font-size: 20px;
    }

}
.paragraph--footer {
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    color: $color-white;

    @include responsive(tablet) {
        font-size: 14px;
    }
    @include responsive(desktop) {
        font-size: 11px;
    }

}


/* figure */
figure {
    display: flex; 
    margin: 0;
}
.figure__legende {
    font-family: $font-secondary;
    color: $color-text;
    font-size: 0px;
}