/* typographies */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.title-big, 
.title-medium, 
.title-small,
.title-section {
    color: $color-primary;
    font-family: $font-primary;
    line-height: 1.2;
}

.title-big { @include font-size-responsive(38px, 57px, 63px); }

.title-medium { @include font-size-responsive(28px, 43px, 47px); }

.title-small {
    @include font-size-responsive(21px, 32px, 36px);
    margin-bottom: 2em;
}

.title-section {
    @include font-size-responsive(21px, 32px, 36px);
    margin-bottom: 1em;
}

.paragraph-default {
    @include font-size-responsive(16px, 18px, 20px);
    @include paragrpah ($color-black);
}
.paragraph--footer {
    @include font-size-responsive(12px, 14px, 15px);
    @include paragrpah ($color-white);
    text-align: center;
}