// import des fichiers utilitaires (variables, mixins, functions…)
@import "utils/mixins";
@import "utils/functions";
@import "utils/variables";

// import des mises en page (grilles, sections…)
@import "layout/global";
@import "layout/navigation";
@import "layout/grids";

// import des styles de base
@import "components/typography";

/* L'IA a été utilisé pour de l'optimisation */

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/*empêche l'accès au site tant que le formulaire est pas rempli*/
.hidden-submit{
    display: none;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    text-align: center;
}


/* line */
//line for mobile
.line-mobile::after {
    position: relative;
    content: "";
    display: block;
    top: -2rem;  
    width: 35%;
    height: 4px;
    background-color: $color-tertiary;
    border-radius: 1rem;
}
// line for desktop
.line-desktop::after {
    content: "";
    display: block;
    margin-top: 3rem;
    height: 4px;
    background-color: $color-tertiary;
    border-radius: 1rem;
}
.line-desktop--right {
    position: relative;
    left: calc(100% + 4rem);
}


/* img */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.custom-cursor{
    position: absolute;
    width: 64px;
    height: 64px;
    background: url('../assets/images/cursor-click-here.svg');
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
}

.img--header {
    position: relative;
    height: 40%;

    @include responsive(tablet) {
        right: 0;
        height: 40dvh;
    }
    
    @include responsive(desktop) {
        right: 0;
        height: 60%;
    }
}

.img--schema {
    //cursor: pointer;
    margin: 4rem 0;
    @include responsive(desktop) { width: 75%; margin-bottom: 0;}
}


.logo {
    width: 4rem;
    max-width: 4rem;
    transform: scaleX(-1);
}

.rotate { transform: rotate(90deg); }


/* ticket */
.ticket {

    .userForm {
        background: url("../assets/images/texture-ticket.webp") no-repeat center center;
        background-size: cover;
        padding: 3rem;
        font-family: $font-secondary;
        border-radius: 1rem;
    
        .userField {
            margin: 0;
            padding: 0;
            border: none;
        }
    
        .userForm__label {
            display: block;
            margin: 1rem 0;
        }
    
        .btn, .btn-classe { transition: background-color 0.3s ease; }
    
        .btn {
            @include button-style($color-primary, $color-white, $color-hover, $color-white);
            cursor: pointer;
            width: 100%;
        }
    
        .btn-classe {
            @include button-style($color-white, $color-primary, $color-hover, $color-white);
            margin: 1rem 0;
            
            &.selected {
                background-color: $color-primary;
                color: $color-white;
            }
        }
        .paragraph-default:first-child { margin-top: 1rem; color: $color-primary;}
        .paragraph-default:last-child { margin-bottom: 1rem; }

        .btn.submit { margin-top: 1rem; }
    }
}
/* Alerte billet */
.swal2-popup {
    @include font-size-responsive(16px, 18px, 20px);
    background: $color-bg;
    border-radius: 1rem;
    padding: 1rem;
}

/* Bouton personnalisé */
.swal2-confirm {
    background-color:$color-primary;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

/* Page */
.btn-img {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0%;
    width: 85%;
}

 // Legende
.legend {
    width:max-content;
    list-style: none;
    background-color: $color-tertiary;
    padding: 1rem;
    border-radius: 1rem;
}

.legend-item {
    cursor: pointer;
    margin-top: 1rem; 
    color: $color-primary;
    padding: 0.5rem;
}

.legend-item:hover {
    background-color: $color-hover;
    padding: 0.5rem;
    color: white; 
    border-radius: 1rem;
}



/* ticket's result */
.ticket_result, .box-result { @include common-box; }

.ticket_result {
    background: url("../assets/images/texture-ticket--result.webp") no-repeat center center;
    background-size: cover;
    padding: 3rem;
    font-family: $font-secondary;
    margin-top: 5rem;
    @include font-size-responsive(16px, 18px, 20px);

    .box-result {
        background-color: $color-white;
        margin: 1rem 0;

        .paragraph-default { color: $color-primary; }
    }

    .title-medium { margin-bottom: 2rem; }
    .title-small { margin-bottom: 1rem; }
}


/* version */
.mobile {
    display: grid;
    @include responsive(tablet) { display: grid; }
    @include responsive(desktop) { display: none; }
}

.desktop {
    display: none;
    @include responsive(desktop) { display: grid; }
}