// import des fichiers utilitaires (variables, mixins, functions…)
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

// import des styles de base
@import "components/typography"; 

// import des mises en page (grilles, sections…)
@import "layout/global";
@import "layout/navigation";
@import "layout/grids";

/* chatGPT a été utilisé pour de l'optimisation */

/* chatGPT a été utilisé pour de l'optimisation */

/* img */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.img--header {
    opacity: 0.75;
    height: 75dvh;
}

.logo {
    width: 100px;
    max-width: 100px;
    height: auto;
    margin: 0;
}

 
/* ticket's result */
.result {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background: $color-tertiary;
    border-radius: 5px;
}