/* fonts */
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Inter', sans-serif;
$size-text: 16px;

/* couleurs */
$color-bg: #fff;
$color-white: #fff;
$color-black: #000;

$color-text: #333;
$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;


@media (min-width: 768px) { /* tablette (768px et plus) */
    :root {
        --size-text: 18px;
    }
}


@media (min-width: 1280px) { /* desktop (1280px et plus) */
    :root {
        --size-text: 21px;
    }
}