:root {
    /* Fonts */
    $font-primary: 'Inter', sans-serif;
    $font-secondary: 'Inter', sans-serif;
    $size-text: 16px;

    /* Couleurs */
    $color-bg: #fff;
    $color-white: #fff;
    $color-black: #000;

    $color-primary: #000;
    $color-secondary: #000;
    $color-tertiary: #000;
    $color-text: #000;
}


@media (min-width: 768px) { /* Tablette (768px et plus) */
    :root {
        --size-text: 18px;
    }
}


@media (min-width: 1280px) { /* Desktop (1280px et plus) */
    :root {
        --size-text: 21px;
    }
}