/* fonts */
$font-primary: 'Montagu Slab', sans-serif;
$font-secondary: 'El Messiri', sans-serif;

/* couleurs */
$color-bg: #F1EBDF;
$color-white: #fff;
$color-black: #000;
$color-hover: #173387;

$color-text: #333;
$color-primary: #171636;
$color-secondary: #000;
$color-tertiary: #DFD4C1;